#top-section {
    width: 100%;
    display: inline-flex;
    align-items: center;
}

#logo {
    height: 2.5em;
    margin-right: 1em;
}

#title {
    display: inline-flex;
    align-content: center;
    align-items: center;
}

#learn-more-btn {
    margin-left: auto;
}

.fixed-table {
    table-layout: fixed;
}

tr {
    padding-bottom: 0.5em;
}

input[type="checkbox"]:disabled {
    cursor: not-allowed;
}

.btn {
    padding: 0.6em;
    padding-left: 1.5em;
    padding-right: 1.5em;

    font-size: 110%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn > img {
    padding-left: 1.5em;
    height: 1.5em;
}

.btn-prominent {
    color: var(--vscode-sideBar-foreground);
    background-color: var(--vscode-button-background);
    border: 1x solid var(--vscode-button-background);
}

.btn-background {
    color: var(--vscode-sideBar-foreground);
    background-color: var(--vscode-sideBar-background);
    border: 1x solid var(--vscode-sideBar-background);
}

.btn:hover, a:hover  {
    text-decoration: underline;
    cursor: pointer;
}

.btn:focus, a:focus, input[type="checkbox"]:focus, input[type="image"]:focus {
    text-decoration: underline;
    cursor: pointer;
    outline: var(--vscode-button-background) solid 1px;
}

.btn-disabled {
    --disabled-btn-color: #444;
    background: var(--disabled-btn-color);
    border-color: var(--disabled-btn-color);
}

.btn-disabled:hover, .btn-disabled:focus, .not-allowed:hover, .not-allowed:focus {
    text-decoration: none;
    cursor: not-allowed;
    outline: var(--disabled-btn-color) solid 1px;
}

.btn-red {
    color: var(--vscode-button-foreground);
    background: darkred;
    border-color: darkred;
}
