
#top-section, #bottom-section {
    width: 100%;

    display: inline-flex;
    align-items: center;
}

#logo {
    width: 2.5em;
    margin-right: 1em;
}

.fixed-table {
    table-layout: fixed;
}

tr {
    padding-bottom: 0.5em;
}

input[type="checkbox"]:disabled {
    cursor: not-allowed;
}

.btn {
    color: var(--vscode-button-foreground);
    padding: 0.6em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 110%;
    border-radius: 5px;
}

.btn-w-background {
    background: var(--vscode-button-background);
    border: 1x solid var(--vscode-button-background);
}

.btn:hover, a:hover  {
    text-decoration: underline;
    cursor: pointer;
}

.btn:focus, a:focus, input[type="checkbox"]:focus, input[type="image"]:focus {
    text-decoration: underline;
    cursor: pointer;
    outline: var(--vscode-button-background) solid 1px;
}

.btn-disabled {
    --disabled-btn-color: #444;
    background: var(--disabled-btn-color);
    border-color: var(--disabled-btn-color);
}

.btn-disabled:hover, .btn-disabled:focus, .not-allowed:hover, .not-allowed:focus {
    text-decoration: none;
    cursor: not-allowed;
    outline: var(--disabled-btn-color) solid 1px;
}

#bottom-section {
    margin-top: 2em;
}

#bottom-section > .btn {
    margin-right: 15px;
}

.red-btn {
    background: darkred;
    border-color: darkred;
}
