
body {
    --box-max-width: 600px;
    --box-margin-top: 2em;
}

#content {
    max-width: 1200px;
}

#main {
    display: inline-flex;
    margin-top: calc(-1 * var(--box-margin-top));
}

.connection-name {
    font-size: 32px;
    white-space: nowrap;
}

#connection-logo {
    height: 45px;
    margin-right: 1em;
    background-color: var(--vscode-editor-background);
}

.box {
    margin-top: var(--box-margin-top);
    background-color: var(--vscode-sideBar-background);
    min-width: 500px;
    max-width: var(--box-max-width);
}

.box h3 {
    background: var(--vscode-activityBar-background);
    font-size: 20px;
    width: 100%;
    margin-top: 0px;
    height: 40px;
    text-indent: 24px;
    padding-top: 15px;
}

.box-content  {
    font-size: 14px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
}

.box-content p {
    padding: 0;
    margin: 0;
}

#connection-box {
    height: 430px;
}

#connected-status {
    width: 25px;
    float: right;
    margin-right: 1em;
}

.learn-more-btn-container {
    display: inline-flex;
    position: absolute;
    margin-left: .25em;
}

.info-label {
    display: inline;
    font-size: 110%;
    font-weight: bold;
}

.connection-box .info-label {
    margin-top: 34px;
}

#enter-url-prompt {
    margin-bottom: 1em;
}

#url {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    word-break: break-all;
}

#copy-url-btn {
    display: inline-flex;
    width: 1rem;
    margin-left: 1em;
    cursor: pointer;
}

input[type="text"], input[type="password"] {
    background-color: var(--vscode-activityBar-background);
    color: var(--vscode-editor-foreground);

    width: 100%;
    margin-top: 0.5em;

    font-size: 1rem;
    border: 0;
    text-indent: 1rem;
}

.input-url {
    width: 100%;
    height: 2.5rem;
    margin-top: 10px;
    margin-bottom: 5px;
}

#credentials-section {
    display: inline-flex;
    margin-top: 1em;
}

#credentials-section div:not(:first-child) {
    margin-left: 1em;
}

.input-section {
    flex: 1;
}

.credential-input {
    height: 2.5rem;
}

.saved-info {
    margin-top: 1em;
}

/***** Right side *****/

#link-container-boxes {
    margin-left: 1.5em;
}

.link-container-box {
    height: 200px;
}

.link-container-box:not(:first-child) {
    margin-top: 30px;
}

.link-container-box .btn {
    color: var(--vscode-editor-foreground);
    background: var(--vscode-activityBar-background);
    border: none;
    border-radius: 0;

    width: 66%;
    align-self: center;
    align-content: center;

    font-size: 16px;
    margin-top: 1.25em;
}

/***** Buttons at bottom *****/

#remote-connection-btn-group {
    margin-top: 40px;
    --btn-margin: 30px;
    display: flex;
}

#right-btn-group {
    display: inline-flex;
    margin-left: auto;
}

#remote-connection-btn-group .btn {
    font-size: .875rem;
    min-width: 200px;
    border-radius: 0;
    height: 40px;
    display: inline-flex;
}

#remote-connection-btn-group .btn:not(#delete-btn) {
    margin-left: var(--btn-margin);
}

#remote-connection-btn-group .btn img {
    margin-left: auto;
    height: 1.25em;
}

/*
#btns-right-spacer {
    width: 51%;
}
*/

@media(max-width: 1150px) {
    #main {
        flex-direction: column;
    }

    #link-container-boxes {
        margin-left: 0;
    }

    #remote-connection-btn-group {
        max-width: var(--box-max-width);
    }

    #right-btn-group {
        flex-direction: column;
        margin-left: auto;
    }

    #right-btn-group .btn {
        margin-left: 0;
    }

    #right-btn-group .btn:not(:first-child) {
        margin-top: var(--btn-margin);
    }

    /* #btns-right-spacer {
        display: none;
    }
    */
}
