
body {
    width: 90%;
    padding-top: 3%;
    padding-left: 6%;
    padding-right: 5%;
}

#description {
    display: inline-block;
}

#edit-description {
    height: 1em;
    vertical-align: middle;
    display: inline-block;
}

#description-text {
    display: inline;
}

#main {
    display: inline-block;
}

#learn-more-btn-remote {
    color: #0f62fe;
    display: inline-block;
    margin-left: 430px;
}

#connection-logo {
    height: 45px;
    margin-right: 1em;
}

#deployment-box {
    width: 530px;
    height: 340px;
    display: inline-table;
    background-color: #161616;
}

#deployment-box p {
    color: white;
}
#deployment-box label {
    color: white;
}

#deployment-box h3 {
    background: #262626;
    color: #fff;
    font-size: 20px;
    width: 100%;
    margin-top: 0px;
    height: 40px;
    text-indent: 15px;
    padding-top: 12px;
}

#deployment-box h3 img {
    width: 25px;
    float: right;
    margin-right: 15px;
    margin-top: 2px;

}

#deployment-box .input {
    padding: 20px;
    padding-top: 0px;
}

#deployment-box .input-url {
    width: 100%;
    height: 2.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1rem;
    background-color:black;
    border: 0;
    text-indent: 1rem;
    color: #fff;
}

#deployment-box .input-username {
    width: 240px;
    display: block;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1rem;
    background-color: black;
    border: 0;
    text-indent: 1rem;
    color: #fff;
}

#deployment-box .input-password {
    width: 95%;
    display: block;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 1rem;
    background-color: black;
    border: 0;
    text-indent: 1rem;
    color: #fff;
}

#cancel-btn {
    color: #fff;
    background: #262626;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.125rem;
    width: 160px;
    border-radius: 0;
    float: right;
    margin-right: 30px;
    margin-top: 30px;
    margin-left: 30px;
 }

 #disconnect-btn {
    color: #fff;
    background: #262626;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.125rem;
    width: 160px;
    border-radius: 0;
    float: right;
    margin-right: 30px;
    margin-top: 30px;
    margin-left: 30px;
 }

#save-btn {
    background-color: var(--vscode-button-background);
    color: #fff;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.125rem;
    width: 160px;
    border-radius: 0;
    float: right;
    margin-top: 30px;
}

#edit-btn {
    background-color: var(--vscode-button-background);
    color: #fff;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.125rem;
    width: 160px;
    border-radius: 0;
    float: right;
    margin-top: 30px;   
}

#delete-btn {
    background-color: #dc222b;
    color: #fff;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.125rem;
    width: 160px;
    border-radius: 0;
    margin-top: 30px;
    display: inline-block;
}

#test-btn {
    background-color: transparent;
    border: 1px solid #c6c6c6;
    color: #fff;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.125rem;
    width: 100px;
    border-radius: 0;
    float: right;
    margin-top: 20px;
}

.section {
    margin-left: 5%;
    border: 1px solid #bbb;
}

.section:first-child {
    margin-left: 0;
}

.bx--text-input {
    font-family: IBMPlexSans;
    background-color: #161616;
    height: 32px;
    padding: 0 1rem;
    color: #fff;
    border: none;
    border-bottom: 1px solid #8d8d8d;
    font-size: 32px;
    width: 431px;
    padding-top: 5px;
    letter-spacing: 0.85px;
}

.bx--text-input-description {
    margin-bottom: 40px;
    margin-top: 10px;
    background-color: #161616;
    height: 30px;
    padding: 0 1rem;
    color: #fff;
    border: none;
    border-bottom: 1px solid #8d8d8d;
    font-size: 13px;
    width: 500px;
}

#connection-name {
    font-family: HelveticaNeue;
    font-size: 32px;
    color: #CCCCCC;
}
