
body {
    max-width: 700px;
}

#top-section {
    border-bottom: 2px solid #aaa;
    padding-bottom: 0.75em;
}

#top-right-btns {
    margin-left: auto;
    display: inline-flex;
}

#top-right-btns > .btn {
    margin-left: 1em;
}

#auto-build-toggle {
    margin: 0;
    padding: 0;
    zoom: 1.25;
}

.section {
    border-bottom: 1px solid #aaa;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
}

.section h3 {
    padding: 0;
    padding-bottom: .75em;
    margin: 0;
}

#app-info-header-section {
    width: 100%;
    display: inline-flex;
}

#about-project-settings {
    margin-left: auto;
}

table {
    border-spacing: 0;
}

td {
    padding: 0;
    padding-bottom: 0.5em;
}

.info-label {
    font-weight: bold;
    padding-right: 1em;
}

td > input[type="image"] {
    height: 1.5em;
    margin: 0;
    padding: 0;
    margin-left: 1em;
}

.bottom-padded {
    padding-bottom: 1em;
}


#bottom-section {
    margin-top: 2em;
}

#bottom-section > .btn {
    margin-right: 1.5em;
}
