
#main {
    max-width: 700px;
}

.info-label {
    font-weight: bold;
    padding-right: 1em;
    min-width: 125px;
}

.edit-btn {
    height: 1.25em;
    margin-left: 2em;
}

#build-btn {
    margin-left: auto;
}
