

#toolbar {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;

    /* For some reason with top: 0, there is a 1px thick gap at the top which I couldn't reset */
    top: -1px;
    position: sticky;
    height: 3em;

    border-bottom: 2px solid var(--vscode-editor-foreground);
    background: var(--vscode-editor-background);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.toolbar-btn {
    padding: 0;
    margin-left: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolbar-btn > img {
    padding-right: 0.5em;
    height: 1.5em;
}

.toolbar-btn > input[type=checkbox] {
    zoom: 2;
    margin-right: 0.25em;
}

.repo-toggle {
    zoom: 2;
    text-align: center;
    vertical-align: middle;
}

.repo-toggle-cell {
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: center;
}

#add-repo-btn {
    margin-left: auto;
    margin-right: 1em;
}

table {
    border-spacing: 0;
}

td {
    padding: 1em;
    border: 1px solid var(--vscode-editor-foreground);
    border-top: none;
}

/* This rule and the next one, combined with the table's border-spacing: 0, give the table a nice single border */
tr:first-child > td {
    border-top: none;
}

td:not(:nth-last-child(2)) {
    border-right: none;
}

thead > tr > td {
    top: 3.75em;               /* Must match the height of the #toolbar including padding */
    position: sticky;
    padding-bottom: 1em;
    background: var(--vscode-editor-background);

    font-weight: bold;
    font-size: 110%;
    text-align: center;
    white-space: nowrap;

    border: none;
    border-bottom: 1px solid var(--vscode-editor-foreground);
}

.no-border {
    border: none;
}

.name-cell {
    max-width: 33%;
}

.descr-cell {
    max-width: 50%;
}

.source-cell {
    text-align: center;
}

.delete-btn-cell {
    padding: 0;
    padding-left: 1em;
}
