
body {
    min-width: 700px;
}

#toolbar {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;

    /* For some reason with top: 0, there is a 1px thick gap at the top which I couldn't reset */
    top: -1px;
    position: sticky;
    height: 3em;

    margin-bottom: 1em;
}

#toolbar > * > .btn {
    margin-left: 1.5em;
}

#toolbar-right-buttons {
    margin-left: auto;
    display: inherit;
    justify-content: inherit;
}

#add-btn {
    padding-left: 1em;
    padding-right: 1.5em;
}

/*
#info-banner-container {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    min-height: 5em;

    display: flex;
    align-items: center;
}
*/

#warning-banner {
    background-color: #fc0b;
    color: #222;

    padding: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 1em;

    /* fill banner container horizontally */
    flex: 1;

    display: flex;
    align-items: center;
}

#warning-banner img {
    padding-right: 1em;
    height: 2.5em;
}

table {
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;
    background-color: var(--welcomePage-tileBackground);
}

#name-col {
    width: 20%;
}

#status-col {
    width: 75px;
}

#style-col {
    width: 17%;
}

#push-registry-col {
    width: 25ch;
}

.btn-col {
    width: 70px;
}

#no-registries-msg {
    font-weight: normal;
}

td {
    padding: 1em;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    border-bottom: 1px solid #444;
}

tr:last-child td {
    border-bottom: none;
}

thead > tr > td {
    top: 3.75em;               /* Must match the height of the #toolbar including padding */
    position: sticky;
    padding-bottom: 1em;
    color: var(--vscode-sideBarSectionHeader-foreground);
    background: var(--vscode-sideBarSectionHeader-background);

    font-weight: bold;
    font-size: 110%;
    /* text-align: center; */
    white-space: nowrap;

    border: none;
}

.btn-cell {
    padding: 0;
    text-align: center;
}

.btn-cell > .btn {
    height: 1.75em;
}

.btn-cell > .toggle-btn {
    min-height: 1.25em;
    height: 125%;
    margin-left: auto;
    margin-right: auto;
}

.namespace-disabled {
    color: #999;
}

#push-registry-header {
    text-align: center;
}

.push-registry-radiobtn {
    zoom: 175%;
    margin: 0;
}
