/*
    In theia there is a lot of missing CSS so we fill it in here. Sadly we cannot detect whether dark or light theme.
    https://github.com/microsoft/vscode/blob/master/extensions/theme-defaults/themes/dark_defaults.json
    https://github.com/microsoft/vscode/blob/master/src/vs/workbench/common/theme.ts
*/
:root {
    --vscode-button-background: #0F5891;
    --vscode-button-foreground: #c9cece;
    --vscode-editor-foreground: #d4d4d4;
    --vscode-editor-background: #1e1e1e;
    --vscode-sideBarSectionHeader-foreground: #e0e0e0;
    --vscode-sideBarSectionHeader-background: #383838;
    --vscode-sideBar-foreground: #e0e0c2;
    --vscode-sideBar-background: #252526;
    background: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
    font-family: sans-serif;
    line-height: 1.5;
}

a {
    color: #4f8cc9;
}

/*
.vscode-dark {
    --vscode-button-background: #0083ca;
    --vscode-button-foreground: #c9cece;
    color: #ccc;
}

.vscode-light {
    --vscode-button-background: #0064b4;
    --vscode-button-foreground: #c9cece;
    color: #000000;
}
*/
